<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <div class="container">

  <div class="containerLevel">
    <h1>Casos clínicos Óptica y Optometría</h1>
    
    <h2>Nivel facil</h2> 
    
      
      <ul  class="list-group list-group-horizontal-lg" >
        <li *ngFor="let form of formsEasy" class="list-group-item">
          <div class="title; col-md-3" >
            <input style="margin-top: 5%;margin-left: 3%;"  type="submit" value="{{form.title}}" class="btn btn-primary" [routerLink]="['/show-questions',form._id]"/>
          </div>
        </li>
      </ul>
    

  <h2 >Nivel medio</h2> 

    
    <ul  class="list-group list-group-horizontal-lg">
      <li *ngFor="let form of formsMedium" class="list-group-item">
        <div class="title; col-md-3">
          <input style="margin-top: 5%" type="submit" value="{{form.title}}" class="btn btn-primary" [routerLink]="['/show-questions',form._id]"/>
        </div>
      </li>
    </ul>


  <h2 >Nivel dificil</h2> 

    
    <ul  class="list-group list-group-horizontal-lg" >
      <li *ngFor="let form of formsHard" class="list-group-item">
        <div class="title; col-md-3" >
          <input  type="submit" value="{{form.title}}" class="btn btn-primary" [routerLink]="['/show-questions',form._id]"/>
        </div>
      </li>
    </ul>


    <div *ngIf="identity" class="row" >
      <div class="col-md-1"><button type="button" class="btn btn-primary" routerLink="/create-form">Añadir Formulario</button></div>
    </div>


  <ul class="pager">
    <li class="previous"><a [routerLink]="['/show-forms',prevpage]">&larr; Anterior</a></li>
    <li><a style="text-align: center; color:#337AB7">Pagina {{this.nextpage-1}}</a></li>
    <li class="next"><a [routerLink]="['/show-forms',nextpage]">Siguiente &rarr;</a></li>
  </ul>

  </div>

  </div>

